.home-page-content-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e42a6;
  background-image: url('../intro.svg');
  background-size: 100% 100%;
  background-position: top right;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.home-page-content-container-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  height: 100%;
}