.what-we-do-container {
  background-color: #b74e91;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid lime;
  height: 100%;
  flex: 1;
  color: white;
  padding: 4em 4em 2em 4em;
}

.what-we-do-container p {
  margin: 0 0 2em 0;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.75;
}

.what-we-do-content-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    margin: 0 0 2em 0;
}
.major {
  width: 2.5em;
  height: 2.5em;
  display: block;
  background: #ffffff;
  border-radius: 100%;
  color: #312450;
  text-align: center;
  line-height: 2.5em;
  margin: 0 0 1.3em 0;

  }