.what-we-do-container {
  background-color: #b74e91;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  color: white;
  padding: 4em 4em 2em 4em;
}

.what-we-do-container p {
  margin: 0 0 2em 0;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.75;
}

@media (min-width: 870px) {
  .column {
    width: 49.90%;
    border-left: solid 1px rgba(255, 255, 255, 0.15);
  }
  .what-we-do-content-container {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      flex-direction: row;
      border-radius: 0.25em;
      border-bottom: solid 1px rgba(255, 255, 255, 0.15);
      border-left: solid 1px rgba(255, 255, 255, 0.15);
      border-right: solid 1px rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.05);
      margin: 0 0 2em 0;
  }
}

@media (max-width: 869px) {
  .column {
    width: 100%;
  }
  .what-we-do-content-container {
      border-radius: 0.25em;
      border-bottom: solid 1px rgba(255, 255, 255, 0.15);
      border-left: solid 1px rgba(255, 255, 255, 0.15);
      border-right: solid 1px rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.05);
      margin: 0 0 2em 0;
  }
}