.checkbox-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.checkbox-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.checkbox-label {
  padding: 1em;
}
