.input-checkbox-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-checkbox-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.input-checkbox-label {
  padding: 1em;
}

/* The container */
.input-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.input-checkmark {
  position: absolute;
  top: 0.25em;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.15em;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .input-checkmark {
  border-radius: 0.15em;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .input-checkmark {
  background-color: white;
  border-radius: 0.15em;
}

/* Create the checkmark/indicator (hidden when not checked) */
.input-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.input-container .input-checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #b74e91;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.input-container input:checked ~ .input-checkmark::after {
  display: block;
}
