.base-image-container {
  display: flex;
}

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}

img {
  border-radius: 0.25em;
  width: 100%;
  height: auto;
}