ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul.alt {
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 0; 
}

ul.alt li:first-child {
  border-top: none;
  padding: 0.5em 0;
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  padding: 0.5em 0;
}