@media (max-width: 420px) {
  .page-content-container {
    display: flex;
    flex-grow: 1;
    background-color: #312450;
    color: rgba(255, 255, 255, 0.55);
    padding-left: 2em;
    padding-right: 2em;
  }

  .page-content-container h1::after {
    padding: 1px;
    margin-top: 25px;
    display: flex;
    content: "";
    background: linear-gradient(to right, #5e42a6, #b74e91);
    margin-bottom:  1.3em;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    width: 100%;
    line-height: 28px;
  }

  .image-container {
    height: 7.5em;
    border-radius: 0.2em;
  }

  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }
}

@media (min-width: 421px) {
  .page-content-container {
    display: flex;
    flex-grow: 1;
    background-color: #312450;
    margin-left: 10em;
    margin-right: 10em;
    color: rgba(255, 255, 255, 0.55);
  }

  .page-content-container h1::after {
    padding: 1px;
    margin-top: 25px;
    display: flex;
    content: "";
    background: linear-gradient(to right, #5e42a6, #b74e91);
    margin-bottom:  1.3em;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5em;
    width: 100%;
    line-height: 28px;
  }

  .image-container {
    height: 30em;
    border-radius: 0.2em;
  }

  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }
}
