.text-input-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}

.text-input-container label {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 1.1em;
}

.text-input-container input {
  background:  rgba(255, 255, 255, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  padding: 0 1em;
  color:rgba(255, 255, 255, 0.55);
  font-size: 13pt;
  height: 2.75em;
}