body {
  background-color: #312450;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #fff;
  font-size: 1.75em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: 0 0 0 1pt white;
}