@media (max-width: 420px) {
  blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.15);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
  }
  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
  }

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

  ul.alt {
    list-style: none;
    margin: 0 0 2em 0;
    padding-left: 0; 
  }

  ul.alt li:first-child {
    border-top: none;
    padding: 0.5em 0;
  }

  ul.alt li {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    padding: 0.5em 0;
  }

  /* IMAGE SECTION */
  .image-fit-container {
    display: flex;
    flex-grow: 1;
    background-color: lightblue;
    height: 8em;
    border-radius: 0.2em;
    /* margin: 1em; */
  }
  .section-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
  }

  .section-container h1,h2,h3,h4,h5, h6, b, strong {
    color: white;
  }

  .section-container pre {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    overflow-x: auto;
  }

  .section-container hr {
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  }

  .section-container h2 {
    color: white;
    font-size: 1.75em;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    font-weight: 400;
  }


  /* LIST SECTION CSS */
  .list-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    flex-grow: 1
  }

  .list-section-column {
    flex: 1;
    padding-right: 1em;
  }

  /* BUTTONS SECTION CSS */
  .buttons-sub-section-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
  }
  .buttons-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    flex-grow: 1
  }

  .button-sub-section {
    display: flex;
    flex-direction: column;
  }

  /* TABLE SECTION CSS */
  .table-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-direction: column;
  }

  /* FORM SECTION CSS */

  .form-section-input-container {
    display: flex;
    flex-direction: column;
  }

  .table-wrapper {
    flex-grow: 1;
    /* border: 1px solid blue; */
    width: 100%;
  }
} 
@media (min-width: 421px) {
  blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.15);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
  }
  /* IMAGE SECTION */
  .image-fit-container {
    display: flex;
    flex-grow: 1;
    background-color: lightblue;
    height: 8em;
    border-radius: 0.2em;
    /* margin: 1em; */
  }
  .form-section-input-container {
    display: flex;
    flex-direction: row;
  }
  /* BUTTONS SECTION CSS */
  .buttons-sub-section-content {
    display: flex;
    padding-bottom: 10em;
  }
  .buttons-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    flex-grow: 1
  }

  ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
  }

  ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
  }

  ul.alt {
    list-style: none;
    margin: 0 0 2em 0;
    padding-left: 0; 
  }

  ul.alt li:first-child {
    border-top: none;
    padding: 0.5em 0;
  }

  ul.alt li {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    padding: 0.5em 0;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
  }
  /* IMAGE SECTION */
  .image-fit-container {
    width: 100%;
    padding: 1px;
  }

  .section-container h1,h2,h3,h4,h5, h6, b, strong {
    color: white;
  }

  .section-container pre {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 0.25em;
      border: solid 1px rgba(255, 255, 255, 0.15);
      font-family: "Courier New", monospace;
      font-size: 0.9em;
      margin: 0 0.25em;
      padding: 0.25em 0.65em;
  }

  .section-container hr {
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  }

  .section-container h2 {
    color: white;
    font-size: 1.75em;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    font-weight: 400;
  }


  /* LIST SECTION CSS */
  .list-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    flex-grow: 1
  }

  .list-section-column {
    flex: 1;
    padding-right: 1em;
  }

  /* TABLE SECTION CSS */
  .table-section-content {
    display: flex;
    /* border: 1px solid red; */
    flex-grow: 1;
    flex-direction: column;
  }

  .table-wrapper {
    flex-grow: 1;
    /* border: 1px solid blue; */
    width: 100%;
  }
} 