ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul.alt {
  list-style: none;
  margin: 0 0 2em 0;
  padding-left: 0; 
}

ul.alt li:first-child {
  border-top: none;
  padding: 0.5em 0;
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  padding: 0.5em 0;
}

/* TABLE STYLING */
table {
  width: 100%;
  margin: 0 0 2em 0;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.05);
}

table tbody tr {
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-left: 0;
  border-right: 0;
}

table td {
  padding: 0.75em 0.75em;
}

table thead {
  color: white;
  border-bottom: solid 2px rgba(255, 255, 255, 0.15);
}

table.alt {
  border-collapse: separate;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tbody tr td {
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-left-width: 0;
  border-top-width: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  /* border: 1px solid red; */
}

.section-container h1,h2,h3,h4,h5, h6, b, strong {
  color: white;
}

.section-container code {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

.section-container hr {
  border: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.section-container h2 {
  color: white;
  font-size: 1.75em;
}

.section-content {
  display: flex;
  flex-direction: column;
  line-height: 1.75;
  font-weight: 400;
}


/* LIST SECTION CSS */
.list-section-content {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: row;
  flex-grow: 1
}

.list-section-column {
  flex: 1;
  padding-right: 1em;
}

/* TABLE SECTION CSS */
.table-section-content {
  display: flex;
  /* border: 1px solid red; */
  flex-grow: 1;
  flex-direction: column;
}

.table-wrapper {
  flex-grow: 1;
  /* border: 1px solid blue; */
  width: 100%;
}